{% load static %}
{% csrf_token %}
<!doctype html>

<html>
<head>
	<meta charset="utf-8" />
	<title>Handwritten digit recognition</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
	<body>

		<div  class="container">
			<div>
				Здесь можно порисовать.<br>
				<canvas id="the_stage" width="200" height="200">fsf</canvas>
				<div>
					<button type="button" class="btn btn-default butt" onclick="clearCanvas()"><strong>clear</strong></button>
					<button type="button" class="btn btn-default butt" id="save" onclick="saveImg()"><strong>save</strong></button>
				</div>

				<div>
					Please select one of the following<br>
					<input type="radio" name="action" value="Alef" id="digit">Alef<br>
					<input type="radio" name="action" value="Bet" id="digit">Bet<br>
					<input type="radio" name="action" value="Gimel" id="digit">Gimel<br>
					<input type="radio" name="action" value="Dalet" id="digit">Dalet<br>
					<input type="radio" name="action" value="He" id="digit">He<br>
					<input type="radio" name="action" value="Vav" id="digit">Vav<br>
					<input type="radio" name="action" value="Zayin" id="digit">Zayin<br>
					<input type="radio" name="action" value="Chet" id="digit">Chet<br>
					<input type="radio" name="action" value="Tet" id="digit">Tet<br>
					<input type="radio" name="action" value="Yod" id="digit">Yod<br>
					<input type="radio" name="action" value="Kaf" id="digit">Kaf<br>
					<input type="radio" name="action" value="Kaf_sofit" id="digit">Kaf sofit<br>
					<input type="radio" name="action" value="Lamed" id="digit">Lamed<br>
					<input type="radio" name="action" value="Mem" id="digit">Mem<br>
					<input type="radio" name="action" value="Mem_sofit" id="digit">Mem sofit<br>
					<input type="radio" name="action" value="Nun" id="digit">Nun<br>
					<input type="radio" name="action" value="Nun_sofit" id="digit">Nun sofit<br>
					<input type="radio" name="action" value="Samech" id="digit">Samech<br>
					<input type="radio" name="action" value="Ayin" id="digit">Ayin<br>
					<input type="radio" name="action" value="Pe" id="digit">Pe<br>
					<input type="radio" name="action" value="Pe_sofit" id="digit">Pe sofit<br>
					<input type="radio" name="action" value="Tsadi" id="digit">Tsadi<br>
					<input type="radio" name="action" value="Tsadi_sofit" id="digit">Tsadi sofit<br>
					<input type="radio" name="action" value="Qof" id="digit">Qof<br>
					<input type="radio" name="action" value="Resh" id="digit">Resh<br>
					<input type="radio" name="action" value="Shin" id="digit">Shin<br>
					<input type="radio" name="action" value="Tav" id="digit">Tav<br>
				</div>
			</div>

			<div class="col-md-6 column">
				<h3>result:</h3>
				<h2 id="rec_result"></h2>
			</div>
		</div>
		<script src="{% static 'jquery.min.js' %}"></script>
		<script src="{% static 'bootstrap.min.js' %}"></script>
		<script src="{% static 'draw.js' %}"></script>
	</body>
</html>