{% load static %}
{% csrf_token %}
<!doctype html>

<html>
<head>
	<meta charset="utf-8" />
	<title>Draw handwritten hebrew letter</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
	<body>

		<div  class="container">
			<div>
				Здесь можно порисовать.<br>
				<canvas id="the_stage" width="200" height="200">fsf</canvas>
				<div>
					<button type="button" class="btn btn-default butt" onclick="clearCanvas()"><strong>clear</strong></button>
					<button type="button" class="btn btn-default butt" id="save" onclick="saveImg()"><strong>save</strong></button>
				</div>

				<div>
					Please select one of the following<br>
					<input type="radio" name="action" value="Alef" id="letter">Alef<br>
					<input type="radio" name="action" value="Bet" id="letter">Bet<br>
					<input type="radio" name="action" value="Gimel" id="letter">Gimel<br>
					<input type="radio" name="action" value="Dalet" id="letter">Dalet<br>
					<input type="radio" name="action" value="He" id="letter">He<br>
					<input type="radio" name="action" value="Vav" id="letter">Vav<br>
					<input type="radio" name="action" value="Zayin" id="letter">Zayin<br>
					<input type="radio" name="action" value="Chet" id="letter">Chet<br>
					<input type="radio" name="action" value="Tet" id="letter">Tet<br>
					<input type="radio" name="action" value="Yod" id="letter">Yod<br>
					<input type="radio" name="action" value="Kaf" id="letter">Kaf<br>
					<input type="radio" name="action" value="Kaf_sofit" id="letter">Kaf sofit<br>
					<input type="radio" name="action" value="Lamed" id="letter">Lamed<br>
					<input type="radio" name="action" value="Mem" id="letter">Mem<br>
					<input type="radio" name="action" value="Mem_sofit" id="letter">Mem sofit<br>
					<input type="radio" name="action" value="Nun" id="letter">Nun<br>
					<input type="radio" name="action" value="Nun_sofit" id="letter">Nun sofit<br>
					<input type="radio" name="action" value="Samech" id="letter">Samech<br>
					<input type="radio" name="action" value="Ayin" id="letter">Ayin<br>
					<input type="radio" name="action" value="Pe" id="letter">Pe<br>
					<input type="radio" name="action" value="Pe_sofit" id="letter">Pe sofit<br>
					<input type="radio" name="action" value="Tsadi" id="letter">Tsadi<br>
					<input type="radio" name="action" value="Tsadi_sofit" id="letter">Tsadi sofit<br>
					<input type="radio" name="action" value="Qof" id="letter">Qof<br>
					<input type="radio" name="action" value="Resh" id="letter">Resh<br>
					<input type="radio" name="action" value="Shin" id="letter">Shin<br>
					<input type="radio" name="action" value="Tav" id="letter">Tav<br>
				</div>
			</div>

			<div class="col-md-6 column">
				<h3>result:</h3>
				<h2 id="rec_result"></h2>
			</div>
		</div>
		<script src="{% static 'jquery.min.js' %}"></script>
		<script src="{% static 'bootstrap.min.js' %}"></script>
		<script src="{% static 'draw.js' %}"></script>
	</body>
</html>